/* Estilos Footer */
.footer {
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 2rem 1.5rem;
    font-size: 14px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 30px solid transparent;
    border-right: 100vw solid white; /* Triángulo blanco inclinado */
    z-index: 0;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    color: #666;
    font-size: 14px;
}

.footer-left a {
    color: #ffffff;
    text-decoration: none;
}

.footer-right {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-right a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s;
}

.footer-right a:hover {
    color: #000;
}


